.Effect {
    width: 100%;
    padding: 10% 5%;
}

.chose-text {
    display: none;
}

.effect-img {

}

.effect-img> img {
    width: inherit;
    padding: 10px 0;
}

.chec-icon {
    position: absolute;
    color: white;
    background-color: #00b5fe;
    right: 15%;
    top: 10%;
}

@media screen and (max-width: 991px) {
    .Effect {
        padding: 0 5%;
    }

    .scroll-touch {
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
    }

    .effect-img> img {
        width: 100%;
        height: auto;
        margin: 0 10px;
        flex: 0 0 auto;
    }
    .chose-text {
        display: block;
        text-align: center;
        width: 100%;
        font-family: initial;
    }
}


@media screen and (max-width: 991px) {
    .effect-img> img {
        height: 25vh;
    }
}

@media screen and (max-width: 576px) {
    .effect-img> img {
        height: auto;
    }
}
