.text-information {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 120px);
    top: 60px;
    background-color: #f8f8f8;
    z-index: 53;
    transition: 1s;
}

.back {
    cursor: pointer;
    color: #8d8d8d;
}

.close-text {
    transform: translateX(-100vw);
}

.text-information>div {
    padding: 60px;
}

.mobile-close-text {
    width: 100vw;
    height: 60px;
    display: none;
    transition: 1s;
    position: absolute;
    top: 0;
    z-index: 60;
}

.mobile-close-text>div {
    width: 100%;
    height: 100%;
}

.mobile-close-text .right-text {
    background-color: #1a1a1a;
    margin: 0;
}

@media screen and (max-width: 991px) {
    .mobile-close-text {
        display: block;
    }
    .text-information {
        height: 62vh;
        top: calc(100vh - 50vh - 60px);
    }
    .text-information>div {
        font-size: 11px;
    }
    .text-menu-mob {
        flex: 1;
    }
    .close-menu-mob {
        flex: 0;
    }
    .back {
        display: none;
    }
}
