.Home {
    padding-top: 60px;
}

.Home>div {
    margin: 0;
}

.Home>div>div {
    padding: 0;
    margin: 0;
}

.parent-section{
    height: 600px;
    overflow: hidden;
}

.carousel-section {
    padding: 40px 60px;
    height: 100%;
}

.data-section {
    border-left: 2px solid #e7e7e7;
    height: 100%;
}

@media screen and (max-width: 991px) {
    .carousel-section {
        padding: 0;
    }
    @media screen and (min-height: 500px) and (max-height: 600px) {

        .parent-section {
            height: 230px;
        }
    }
    @media screen and (min-height: 600px) and (max-height: 700px) {

        .parent-section {
            height: 330px;
        }
    }
    @media screen and (min-height: 700px) and (max-height: 800px){

        .parent-section {
            height: 390px;
        }
    }
    @media screen and (min-height: 800px) and (max-height: 900px){

        .parent-section {
            height: 430px;
        }
    }
    @media screen and (min-height: 900px) and (max-height: 1024px){

        .parent-section {
            height: 530px;
        }
    }
    }

