.lists-data {
    width: 600px;
    padding: 0 5%;
}


.list-data>span {
    padding: 0 20px;
    word-break: break-all;
    font-family: initial;
}
.row-data {
    width: 100%;
}
.left{
    padding-right: 15%;
}
@media screen and (max-width: 991px) {
    .lists-data {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .row-data {
        font-size: 12px;
    }
}
