.Information {
    width: 100%;
    height: 70px;
}

.left-section {
    padding: 2px 25px;
    color: white;
    font-size: 30px;
    background-color: #00abf0;
    flex: 0;
    cursor: pointer;
}

.right-section {
    flex: 1;
    color: white;
    font-size: 17px;
    background-color: #00b6ff;
}


