.Sidebar {
    position: fixed;
    width: 320px;
    height: calc(100vh - 60px);
    background-color: #212121;
    transition: 1s;
    top: 60px;
    z-index: 53;
    transform: translateX(100vw)
}

.open-sidebar {
    transform: translateX(calc(100vw - 320px))
}

.list-items {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: initial;
    padding: 12px 0;
    border-bottom: 2px solid #262626;
    cursor: pointer;
}

.list-items:hover {
    background-color: #333333;
}

@media screen and (max-width: 991px) {
    .Sidebar {
        width: 100vw;
    }

    .open-sidebar {
        transform: translateX(0)
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .list-items{
        font-size: 1.5rem;
    }
    .list-items:hover{
        background-color: #00abf0;
    }
}
