.Info {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.Info>div {
    overflow: hidden;
}

.data-info {
    padding: 10px;
    width: 100%;
}

.data-info>div {
    flex: 1;
}
@media screen and (max-width: 991px) {
    .data-info {
        padding: 0;
    }
}
