.Footer {
    position: fixed;
    height: 75px;
    background-color: #f8f8f8;
    bottom: 0;
    width: 94%;
    z-index: 52;
    left: 3%;
}

.Footer>div {
    height: 100%;
}

.list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    line-height: 20px;
    font-family: monospace;
    padding: 0;
    border-left: 2px solid #e7e7e7;
    border-top: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    flex: 1 1;
    cursor: pointer;
}

.border-blue{
    border-bottom: 4px solid #00b6ff;
}

.border-red{
    border-bottom: 4px solid #ff7985;
}

.list-footer-active {
   background-color: #00b6ff;
}

.mobile-footer {
    display: none;
}
.desktop-footer>div {
    height: 100%;
}

@media screen and (max-width: 991px) {
    .desktop-footer {
        display: none;
    }
    .mobile-footer {
        display: block;
        background-color: #1a1a1a;
        color: white;
        text-align: center;
        padding-top: 15px;
        height: 60px;
    }
}
