#carouselExampleIndicators .dots-carousel {
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
}

#carouselExampleIndicators{
    height: 100%;
}

.carousel-inner{
    height: 100%;
    box-shadow: 0px 5px 8px grey;
    border-radius: 5px;
}

.carousel-item{
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 991px){
    .carousel-inner{
        box-shadow: none;
        border-radius: 0px;
    }
}