.menu {
    margin-left: 7%;
}

.text-info {
    display: none;
}
.text-info p {
    margin: 0;
}
.names> p{
    color: #cccccc;
}
.names>.class-name {
    color: #477e9b;
}
.price {
    color: #cccccc;
}

.icons-size {
    color: #8d8d8d;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .logo-menu {
        display: none;
    }

    .text-info {
        display: flex;
        justify-content: space-between;

    }
}

